<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedy</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="questionWrapper">
      <div class="questionItem">
        <div class="questionHeader">
          <span>こうげき</span>
        </div>
        <div class="questionContent pokeType typeFire">
          <span class="typeName">ほのお</span>
        </div>
      </div>
      <div class="questionContent">
        <span>vs</span>
      </div>
      <div class="questionItem">
        <div class="questionHeader">
          <span>ぼうぎょ</span>
        </div>
        <div class="questionContent pokeType typeWater">
          <span class="typeName">みず</span>
        </div>
      </div>
    </div>

    <div class="questionText">
      <span>効果は?</span>
    </div>

    <div class="answerWrapper">
      <div class="answerButtonWrapper">
        <button class="answerButton">ばつぐんだ！</button>
      </div>
      <div class="answerButtonWrapper">
        <button class="answerButton">ふつう</button>
      </div>
      <div class="answerButtonWrapper">
        <button class="answerButton">いまひとつ...</button>
      </div>
      <div class="answerButtonWrapper">
        <button class="answerButton">ない...</button>
      </div>
    </div>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
