body {
  font-family: 'Hiragino Sans', '游ゴシック', meiryo, sans-serif;
  /*background-color: #fafafa;*/
}

.questionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.questionHeader {
  text-align: center;
  font-size: 80%;
  margin: 4px 0;
}

.questionItem {
  margin: 0 10px;
}

.questionText {
  margin: 10px 0;
  text-align: center;
}

.pokeType {
  min-width: 96px;
  border: none;
  border-radius: 16px;
  text-align: center;
}

.typeName {
  line-height: 32px;
  color: #ffffff;
}

.typeNormal {
  background-color: #b1b1b1;
}

.typeFire {
  background-color: #e4653f;
}

.typeWater {
  background-color: #50abda;
}

.typeGrass {
  background-color: #9ac30e;
}

.typeElectric {
  background-color: #e8c71a;
}

.typeIce {
  background-color: #53c4e5;
}

.typeFighting {
  background-color: #e89a3f;
}

.typePoison {
  background-color: #ba79c1;
}

.typeGround {
  background-color: #c8a841;
}

.typeFlying {
  background-color: #5e9fe2;
}

.typePsychic {
  background-color: #e885b2;
}

.typeBug {
  background-color: #6cbe50;
}

.typeRock {
  background-color: #b08754;
}

.typeGhost {
  background-color: #756eb4;
}

.typeDragon {
  background-color: #6c81c8;
}

.typeDark {
  background-color: #5a3c1e;
}

.typeSteel {
  background-color: #919191;
}

.typeFairy {
  background-color: #e06cbb;
}

.answerWrapper {
}

.answerButtonWrapper {
  margin: 18px auto;
  width: 50%;
  max-width: 200px;
}

.answerButton {
  width: 100%;
  min-width: 96px;
}

.choosed {
  text-align: center;
}

.correct {
  text-align: center;
}

.next {
  display: block;
  width: 30%;
  max-width: 200px;
  margin: 0 auto;
}

.verifyAnswer.mdl-card {
  width: 95%;
  max-width: 360px;
  margin: 0 auto;
}

.verifyAnswer > .mdl-card__title {
  display: initial;
  text-align: center;
  padding-bottom: 0;
}

.verifyAnswer > .mdl-card__title > .mdl-card__title-text {
  display: inline;
  font-size: 16px;
}

.verifyAnswer > .mdl-card__supporting-text {
  padding-top: 0;
  text-align: center;
  color: initial;
}

main .container {
  padding-bottom: 60px;
}

/*
 * footer
 */
.footer {
  width: 100%;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.center {
  text-align: center;
}
